body{
  background-color: purple;
}

input{
  padding: 30px;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 20px;
  font-size: 2.5rem;
  color: orangered;
}


.caja1{
  justify-content: center;
  align-items: center;
  max-width: min-content;
  padding-left: 500px;
  overflow:hidden;
  font-family: Verdana;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
  color:orangered;
  font-weight: bold;
  
}

@media (max-width: 600px) {
  .caja1 {
    justify-content: center;
    align-items: center;
    max-width: min-content;
    padding-left: 100px;
    overflow:hidden;
    font-family: Verdana;
    font-size: 23px;
    padding-top: 5px;
    text-align: center;
    color:orangered;
    font-weight: bold;
  }
}
